<div class="banner" style="background-image: url('https://picsum.photos/1200/800?random&<%= @flat.id %>')"></div>

<%= link_to 'Edit', edit_flat_path(@flat), class: 'btn btn-outline-secondary' %>
<%= link_to 'Back', flats_path, class: 'btn btn-outline-primary' %>
